
<section id="features" class="mb-5 p-4">
  <h1>Why <span class="highlight">Rent</span> & <span class="highlight">Ride</span>?</h1>
  <div class="feature row justify-content-evenly align-items-center">
    <div class="feature-image col-md-4" data-aos="fade-right">
    </div>
    <div class="feature-detail col-md-4" data-aos="fade-left">
      <h3>Mutual Platform </h3>
      <p>Rent&Ride Connects People Who Is In Need Of A Vehicle And Someone Who Has a Spare Vehicle To Rent And Want To Earn Some Extra Money... </p>
    </div>
  </div>

  <div class="feature row justify-content-evenly align-items-center">
    <div class="feature-detail order-2 order-md-1 col-md-4" data-aos="fade-right">
      <h3>Variety of Vehicles</h3>
      <p>People From All Around Jodhpur Rent There Vehicles On Our Platform ..So A Rider Has So Many Options TO Choose A Vehicle.. From Luxries To Affordable Vehicles Rent&Ride Provides Many Choices</p>
    </div>
    <div class="feature-image order-1 order-md-2 col-md-4" data-aos="fade-left">
    </div>
  </div>

  <div class="feature row justify-content-evenly align-items-center">
    <div class="feature-image col-md-4" data-aos="fade-right">
    </div>
    <div class="feature-detail col-md-4" data-aos="fade-left">
      <h3>Affordable Prices</h3>
      <p>Rent&Ride Is A Affordable Process Because We Have Cut off The Cost Of Drivers..Also It Saves A Seat For One More Person..</p>
    </div>
  </div>
</section>