
<section class="d-flex justify-content-center align-items-center flex-column">
    <h1><%= err%></h1>
    <button onclick="show()" class="btn-custom">Go Back</button>
</section>

<script>
    function show(){
        history.back()
    }
</script>
